In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
sts=StandardScaler()
from sklearn.svm import SVC

In [2]:
df1=pd.read_csv('../input/titanic/train.csv')

In [3]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df1.drop(['PassengerId','SibSp','Name','Parch','Embarked','Cabin','Ticket'],axis=1,inplace=True)

In [5]:
df1.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [6]:
df1.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [7]:
df1['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [8]:
df1['Age'].fillna(df1['Age'].mean(),inplace=True)

In [9]:
df1.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [10]:
l_sex_dummies=pd.get_dummies(df1['Sex'],drop_first=True)

In [11]:
df1=pd.concat([df1,l_sex_dummies],axis=1)

In [12]:
df1.head()

   Survived  Pclass     Sex   Age     Fare  male
0         0       3    male  22.0   7.2500     1
1         1       1  female  38.0  71.2833     0
2         1       3  female  26.0   7.9250     0
3         1       1  female  35.0  53.1000     0
4         0       3    male  35.0   8.0500     1

In [13]:
df1.drop(['Sex'],axis=1,inplace=True)

In [14]:
feature_scale=['Age','Fare']
df1[feature_scale]=sts.fit_transform(df1[feature_scale])

In [15]:
df1.head()

   Survived  Pclass       Age      Fare  male
0         0       3 -0.592481 -0.502445     1
1         1       1  0.638789  0.786845     0
2         1       3 -0.284663 -0.488854     0
3         1       1  0.407926  0.420730     0
4         0       3  0.407926 -0.486337     1

In [16]:
x=df1.drop(['Survived'],axis=1)
y=df1['Survived']

In [17]:
model_svc=SVC(C=100,kernel='rbf')

In [18]:
model_svc.fit(x,y)

SVC(C=100)

In [19]:
df2=pd.read_csv('../input/titanic/test.csv')

In [20]:
df2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [21]:
df3=df2.drop(['PassengerId','SibSp','Name','Parch','Embarked','Cabin','Ticket'],axis=1)

In [22]:
df3.isnull().sum()

Pclass     0
Sex        0
Age       86
Fare       1
dtype: int64

In [23]:
df3['Age'].fillna(df3['Age'].mean(),inplace=True)
df3['Fare'].fillna(df3['Fare'].mean(),inplace=True)

In [24]:
l_sex_dummies=pd.get_dummies(df3['Sex'],drop_first=True)
df3=pd.concat([df3,l_sex_dummies],axis=1)
df3.drop(['Sex'],axis=1,inplace=True)

In [25]:
df3[feature_scale]=sts.fit_transform(df3[feature_scale])

In [26]:
df3.head()

   Pclass       Age      Fare  male
0       3  0.334993 -0.498407     1
1       3  1.325530 -0.513274     0
2       2  2.514175 -0.465088     1
3       3 -0.259330 -0.483466     1
4       3 -0.655545 -0.418471     0

In [27]:
y_predicted=model_svc.predict(df3)

In [28]:
final=pd.DataFrame({'PassengerId':df2['PassengerId'],'Survived':y_predicted})
final

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [29]:
final.to_csv('Titanic_prediction',index=False)