## Importing Required Library

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.compose import ColumnTransformer

## Reading Data Files

In [9]:
df = pd.read_csv('train.csv')

## Exploring Data

In [10]:
from pandas_profiling import ProfileReport

In [11]:
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Sperating Variable (Input & Target) due to Data Leakage

In [12]:
df['Family'] = df['SibSp']+df['Parch']
df.drop(columns=['SibSp','Parch','Cabin','Name','Ticket','PassengerId'], inplace=True)

df.head()

   Survived  Pclass     Sex   Age     Fare Embarked  Family
0         0       3    male  22.0   7.2500        S       1
1         1       1  female  38.0  71.2833        C       1
2         1       3  female  26.0   7.9250        S       0
3         1       1  female  35.0  53.1000        S       1
4         0       3    male  35.0   8.0500        S       0

In [13]:
X = df.drop(columns='Survived')
y = df['Survived']

In [14]:
from sklearn.model_selection import train_test_split 

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.3, random_state=None)

In [15]:
X_train.head()

     Pclass     Sex   Age     Fare Embarked  Family
395       3    male  22.0   7.7958        S       0
62        1    male  45.0  83.4750        S       1
690       1    male  31.0  57.0000        S       1
653       3  female   NaN   7.8292        Q       0
663       3    male  36.0   7.4958        S       0

## Applying Preprocessing Technique

In [19]:
## Imputing Missing Value (Age)
from sklearn.impute import SimpleImputer

trf1 = ColumnTransformer(
    transformers=[
        ('impute_age',SimpleImputer(strategy='mean'),[2]),
        ('impute_embark',SimpleImputer(strategy='most_frequent'),[4])
    ]
,remainder='passthrough')

In [20]:
## Encoding Categroical Variable
from sklearn.preprocessing import OneHotEncoder

trf2= ColumnTransformer(
    transformers=[
        ('encode_sex_emb',OneHotEncoder(sparse=False,handle_unknown='ignore'),[1,4])]
)

In [22]:
## Feature Scaling
from sklearn.preprocessing import MinMaxScaler

trf3= ColumnTransformer(
    transformers=[
        ('scale',MinMaxScaler())
    ]
)

## Randomized Search CV

## Grid Search CV